<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utils.ListenerClass"> </listener>
	</listeners>
	<parameter name="url" value="https://www.demoblaze.com/"></parameter>
	<test thread-count="5" name="Test">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="test.TC_001SignUpTest" />
			<class name="test.TC_002LoginTest" />
		<class name="test.TC_003HomePageTest" />
			<class name="test.TC_004ProductDetailsTest" />
			<class name="test.TC_005CartPageTest" />
			<class name="test.TC_006PlaceorderTest" />
			<class name="test.TC_007LogoutTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
